* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body{
  /* display: flex; */
  flex-direction: row;
  background-color: rgb(0, 0, 0);
}

.app-container {
  display: flex;
  flex-direction: row; /* Ensures Sidebar and Outlet are side by side */
  height: 100vh; /* Full height of the viewport */
  align-items: flex-start;
}

#sidebar {
  flex: 0 0 20vw; /* Sidebar takes 20% of the width */
}