@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

.hero-text {
  font-family: "Quantico";
  
  color: white;
  font-size: 5vh;
  padding-left: 5%;
  padding-top: 1vh;
  padding-bottom: 3vh;
  /* width: 100%; */
  background-color: #1b1b1b;
}

.main-content {
  flex:1;
}

#form {
  font-family: "Quantico";
  /* margin-top: 5vh; */
  display: grid;
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 900px;
  width: 100%;
  margin: 5vh auto 0 auto;
}

.text-label {
  height: 3vh;
  font-size: 2.5vh;
}

.text-label-input {
  font-family: "Quantico";
  height: 5vh;
  border-radius: 1vw;
  background-color: #1b1b1b;
  border: 1px solid #1b1b1b;
  color: white;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-size: 2.5vh;
}
