@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

#sidebar {
  width: 20vw;
  background-color: #1b1b1b;
  color: white;
  height: 100vh;
  font-family: "Quantico";
  font-size: 1.5vw;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
}

.sidebar-options {
  border: 1px solid rgba(255, 255, 255, 0);
  padding: 5vh;
  transition: border-color 0.5s ease;
}

.sidebar-options:hover {
  border: 1px solid rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
